* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    /* background-color: rgb(187, 232, 238); */
  }
  .text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.placeText{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(49, 48, 48);
}
.background{
  background-color: rgb(187, 232, 238);
}
  
  /* The grid: Four equal columns that floats next to each other */
  .columnImage {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .containerImage {
    position:relative;
    display: none;
    align-items: center;
    text-align: center;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position:absolute;
    top: 10px;
    right: 250px;
    color: rgb(255, 247, 247);
    font-size: 35px;
    cursor:pointer;
  }





  /* tour image */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
      
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
     align-items: center;
     
    }
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }